<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrollyWorld</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<!--<h2 class="titl">Привет Амира! Это игра Троллий Мир. </h2>-->
<div id="gameDiv" v-on:click="onMDown">
    <div id="rose" v-bind:style="{top: topRosa, left:leftRosa}">
        <img src="images/Rose.png">
    </div>

    <button class="button" v-on:click="onClick">НАЖМИ</button>

    <div id="startWindow" v-if="start">
        <br>
        <h2>Троллий мир</h2>
        <h4>Выбери игрока</h4>
        <span v-for="troll in allTrolles" style="display: inline-block">
            <div>
                {{showHero(troll.name)?showHero(troll.name):"&nbsp;"}}
            </div>
            <br>
            <div>
            <img
                 v-bind:name="troll.name"
                 v-bind:src="troll.name | addPuthImage"
                 v-on:click="onChoiceHero($event)"
                 v-bind:class="choseImg(troll.name)">
                </div>

        </span>
        <br><br>
        <button @click="onStart()"> НАЧАТЬ </button>
    </div>

</div>


<script src="main.js"></script>

</body>
</html>

